/* підвал */

.footer {
    padding: 60px 0px;
    background-color: #2F303A;
}

.footer-container {
    display: flex;
}

.logo__ftr {
    display: block;
    margin-bottom: 20px;
    color: var(--main-background);
}